<section class="text-center " *ngIf="projects">
    <div class="container">



        <div class="row">

            <div class="col-md-12 col-lg-12">
                <h1>Bio3science Gallery</h1>
                <br>

                <div class="row">
                    <div class="col-md-3" *ngFor="let project of projects">
                        <article class="feature feature-1">
                            <a href="#" class="block">
                                <img alt="Image" src="{{project.images[0].url}}">
                            </a>
                            <div class="feature__body boxed boxed--border">
                                <span>{{project.created_at | date : 'longDate'}}</span>
                                <h5>{{project.name}}</h5>
                                <a href="#" [routerLink]="['/project', project.id]">
                                    Read More
                                </a>
                            </div>
                        </article>
                    </div>
                </div>
                



            </div>
            <!--end item-->
        </div>
        <!--end of row-->

    </div>
    <!--end of container-->
</section>